@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 8px solid #0a1d37;
  border-top: 8px solid #d0cccc;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  position: fixed;
  /* top: 0; */
  right: 0;
  /* bottom: 0; */
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
}